.dragTarget {
  position: relative;
}

.dragTarget::after {
  @apply bg-blue-300 rounded-lg z-50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
}
